@model IEnumerable<Book>

<h2>Author: @Model.First().Author.FirstName @Model.First().Author.LastName</h2>
<hr style="height:2px;border-width:0;color:gray;background-color:gray" />

<ul class="older">
    @foreach (Book book in Model)
    {
        @Html.Partial("BooksInfo", book)
    }
</ul>
